$mainFont: 'Montserrat', sans-serif;
$additionalFont: 'Roboto', sans-serif;
$pageWidth: 1170px;
$fwNormal: 400;
$fwBold: 700;

$bgColor: #EAEAEA;
$fcDarkGray: #494949;
$fcLightGray: #959595;
$fcBlack: #282828;
$fcWhite: #FFFFFF;
$colorMenuActive: #EE252D;

@mixin linkMenu {
    a {
        color: $fcDarkGray;
        text-decoration: none;
    }
}

@mixin progressTitleDecoration {
    content: '';
    position: absolute;
    background-image: url(../img/item.png);
    display: block;
    width: 102px;
    height: 28px;
    top: calc(50% - 14px);
}

@mixin menuSeparators {
    &::before {
        content: '';
        display: block;
        width: 2px;
        height: 100%;
        background-color: $fcDarkGray;
        position: absolute;
        left: 0;
    }

    &:first-child {
        padding-left: 0;
        margin-left: 0;

        &::before {
            display: none;
        }
    }
}

body {
    background-color: $bgColor;
    font-family: $mainFont;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 35px;
}

.wrapper {
    padding-left: 15px;
    padding-right: 15px;
    max-width: $pageWidth;
    margin: 0 auto;
    position: relative;
}

.navigation {
    display: flex;
    font-weight: $fwBold;
    text-transform: uppercase;
    
    li {
        @include linkMenu;
        @include menuSeparators;

        padding-left: 25px;
        margin-left: 25px;
        position: relative;      
    }
}

.banner {
    background-image: url(../img/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: $fcWhite;
    padding-top: 215px;
    padding-bottom: 280px;
}

.pizza-image {
    position: absolute;
    right: 0;
    top: -200px;
}

.title-banner {
    font-size: 50px;  
    margin-bottom: 12px;
}

.description {
    font-size: 25px;
    line-height: 30px;
    max-width: 570px;
    font-family: $additionalFont;
    margin-bottom: 24px;
    margin-top: 0;
}

.btn {
    display: block;
    color: $fcWhite;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: $fwBold;
    border: 2px solid $fcWhite;
    padding: 12px 0;
    max-width: 190px;
    text-align: center;
}

.title-progress {
    font-size: 45px;
    color: $fcBlack;
    text-transform: uppercase;
    font-weight: $fwBold;
    text-align: center;
    position: relative;
    display: inline-block;
    padding-right: 127px;
    padding-left: 127px;
    margin-bottom: 10px;

    &::before {
        @include progressTitleDecoration;

        left: 0;
    }

    &::after {
        @include progressTitleDecoration;

        right: 0;
    }
}

.progress-center {
    text-align: center;

    p {
        color: $fcLightGray;
        font-size: 20px;
        font-family: $additionalFont;
        margin: 0;
    }
}

.menu {
    @include linkMenu;

    display: flex;
    justify-content: center;
    margin-top: 42px;
    margin-bottom: 65px;

    li {
        @include menuSeparators;

        padding-left: 20px;
        padding-right: 20px;
        position: relative;

        a {
            text-transform: uppercase;
            font-weight: $fwBold;
            font-size: 18px;
            padding-bottom: 18px;

            &.active {
                border-bottom: 4px solid $colorMenuActive;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    bottom: 0;
                    display: block;
                    width: 0;
                    height: 0;
                    border: 7px solid transparent;
                    border-bottom: 7px solid $colorMenuActive;
                }
            }
        }    
    }
}

.instruction {
    display: flex;
    justify-content: space-between;
    background-color: $fcWhite;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
    margin-bottom: 85px;
}

.number {
    font-family: $additionalFont;
    font-size: 120px;
    font-weight: $fwBold;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    color: $fcBlack;

    &::after {
        content: '';
        display: block;
        position: absolute;
    }
}

.number-1 {
    &::after {
        background-image: url(../img/icon-1.png);
        width: 126px;
        height: 71px;
        left: 69px;
        top: calc(50% - 35px);
    }
}

.number-2 {
    &::after {
        background-image: url(../img/icon-2.png);
        width: 184px;
        height: 81px;
        left: 88px;
        top: calc(50% - 40px);
    }
}

.number-3 {
    &::after {
        background-image: url(../img/icon-3.png);
        width: 142px;
        height: 68px;
        left: 95px;
        top: calc(50% - 34px);
    }
}

.instruction-text {
    border-right: 1px solid $bgColor;
    padding-right: 55px;

    h3 {
        font-size: 45px;
        color: $fcBlack;
        margin-bottom: 10px;
        margin-top: 18px;
    }

    p {
        font-family: $additionalFont;
        font-size: 17px;
        color: $fcBlack;
        line-height: 24px;
        margin-top: 0;
    }
}

.instruction-item {
    padding: 50px 0 58px 55px;
    box-sizing: content-box;

    &:last-child {
        .instruction-text {
            border-right: none;
        }
    }
}

.btn-center {
    text-align: center;

    .btn-create {
        color: $fcWhite;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 30px;
        font-weight: $fwBold;
        background-image: url(../img/btn-bg.png);
        background-position: center center;
        background-repeat: no-repeat;
        padding: 30px 55px;
    }
}

.progress {
    padding-top: 80px;
    padding-bottom: 94px;
}

footer {
    background-image: url(../img/footer-bg.png);
    background-size: cover;
    padding: 30px 0;
    margin-top: 20px;
    color: $fcWhite;
    text-transform: uppercase;
    font-size: 20px;
    font-family: $additionalFont;
    text-align: center;
}

@media (max-width: 1100px) {
    .wrapper {
        max-width: 800px;
    }

    .pizza-image {
        display: none;
    }

    .banner {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .progress {
        padding-top: 40px;
    }

    .title-progress {
        font-size: 30px;
    }

    .menu {
        li {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .instruction {
        flex-direction: column;
    }

    .instruction-item {
        padding: 0 55px 10px 55px;

        &:last-child {
            .instruction-text {
                border-bottom: none;
            }
        }
    }

    .instruction-text {
        border-right: none;
        border-bottom: 1px solid $bgColor;
        padding-right: 0;
        padding-bottom: 30px;
    }
}

@media (max-width: 850px) {
    .navigation {      
        li {
            padding-left: 10px;
            margin-left: 10px;   
        }
    }
}

@media (max-width: 700px) {
    .title-progress {
        &::before {
            display: none;
        }
    
        &::after {
            display: none;
        }
    }

    .menu {
        li {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .navigation-container {
        flex-direction: column;
    }

    .navigation {
        margin-top: 50px;
    }

    .btn-center {
        .btn-create {
            font-size: 20px;
            background-size: contain;
        }
    }
}

@media (max-width: 650px) {
    .banner {
        padding-top: 15px;
        padding-bottom: 30px;
    }
    
    .title-banner {
        font-size: 30px;
    }

    footer {
        padding: 15px 0;
        margin-top: 10px;
        font-size: 20px;
    }

    .instruction-text {

        h3 {
            font-size: 30px;
        }
    }

    .menu {
        align-content: stretch;
        flex-wrap: wrap;
        justify-content: space-evenly;

        li {
            text-align: center;
            width: 45%;
            padding: 20px 0;
            background-color: $fcWhite;
            margin-top: 10px;

            &::before {
                display: none;
            }

            a {        
                font-size: 16px;       
            }
        }
    }

    .title-progress {
        padding-right: 40px;
        padding-left: 40px;
        margin-bottom: 20px;
    }
}

@media (max-width: 550px) {
    footer {
        font-size: 15px;
    }
}

  